<fieldset :class="['form-group', inputState]">
    <div class="form-check" v-for="item in list"
         v-bind:class="{ 'form-check-inline': !vertical, disabled: item.disabled }">
        <label class="form-check-label" v-bind:class="{ 'c-input': custom, 'c-checkbox': custom }">
            <input
                    class="form-check-input"
                    :id="item.id"
                    type="checkbox"
                    :value="item.value"
                    autocomplete="off"
                    v-model="item.checked"
                    v-bind:disabled="item.disabled">
            <span class="c-indicator" v-if="custom"></span> {{item.text}}
        </label>
    </div>
</fieldset>
