.nav-tabs.flex-column {
  border-bottom: 0 none;
  border-right: 1px solid #DDDDDD;
}

.nav-tabs.flex-column .nav-item {
  margin-bottom: 0;
  margin-right: -1px;
}

.nav-tabs.flex-column .nav-link {
  border-radius: 4px 0 0 4px;
}

.nav-tabs.flex-column .nav-link.active {
  border: 1px solid #DDDDDD;
  border-color: #DDDDDD #FFFFFF #DDDDDD #DDDDDD;
}



