.nav-tabs.flex-column {
  border-bottom: 0 none;
}

.nav-tabs.flex-column > li > a {
  border-right: 1px solid #DDDDDD;
  border-radius: 0;
  margin: 0;
}

.nav-tabs.flex-column > li > a.active {
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 0 4px;
  border-right: 0;
  margin: 0;
}



